.hide{
  display: none;
}

.actualiter{
  color: white;
  background-color: black;
  width: 100%;
  font-family: system-ui, serif;
}
.title{
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: system-ui, serif;
  font-weight: bold;
}

.article_7{
  opacity: 0.7;
}

.article_8{
  opacity: 0.5;
}
.article_9{
  opacity: 0.3;
}

hr{
  color: #FFFFFF;
  background-color: #FFFFFF;
}

