input[type=text],[type = password] {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #b9cbcc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
button{
  background-color: #28a745;
  color: #FFFFFF;
  width: 30em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.element{
  width: auto;
}

.icons{
  font-size: 60px;
  padding: 10px;
  justify-content: center;
}

.google_buttonDec{
  height: 45px;      /* equals max image height */
  width: 300px;
  color: #FFFFFF;
  background-color: #f4363c;
  font-family: Roboto,arial,sans-serif;
  font-size: 16px;
  text-align: center;
  border: 2px solid #f4363c;
  border-radius: 4px;
}
.google_buttonDec span{
  line-height: 45px;
}


.google_buttonDec img{
  background-color: #FFFFFF;
  float: left;
  max-height: 45px;
  max-width: 160px;
}
