<div class="container">
  <div class="element">
    <i class="icons material-icons">account_circle</i><br/>
  </div>
  Numéro de serie : {{ serial_number }} <br/>
  <div class="element_left">
    <label for="email">Votre Email : </label>
    <input type="text" id="email"
           [(ngModel)]="email" required>

    <label for="mdp">Nouveau mot de passe : </label>
    <input type="password" id="mdp"
           placeholder="Votre mot de passe"
           [(ngModel)]="mdp"
           maxlength="4"
           email>

    <label for="verifmdp">Vérifier le mot de passe : </label>
    <input type="password" id="verifmdp"
           placeholder="Votre mot de passe"
           [(ngModel)]="verifmdp"
           maxlength="4">
  </div>
  <div class="element">
    <button (click)="updateMirror()">
      Valider les modifications
    </button>
  </div>

  <div id="authorize-signin" (click)="signIn()" class="google_button" *ngIf="!user" >
        <span>Se connecter avec Google</span>
        <img class="google_img" src="../../../assets/img/google-logo.png">
  </div>

  <div id="authorize-signout" (click)="signOut()" class="google_buttonDec" *ngIf="!!user">
    <span>Se déconnecté de Google</span>
    <img class="google_img" src="../../../assets/img/google-logo.png">
  </div>


</div>

