<div class="container">

  <mat-card class="card_account float_left">
    <mat-card-title>
      Vos informations
    </mat-card-title>
    <div class="element">
      <i class="icons material-icons">account_circle</i><br/>
    </div>
    <div>
      <p>Numéro de serie : <strong>{{ serial_number }}</strong></p> <br/>
    </div>
    <div class="element_left">
      <div>
        <label for="email">Votre Email : </label>
        <input type="text" id="email"
             [(ngModel)]="mail" required>
      </div>

      <div>
        <label for="mdp">Nouveau mot de passe : </label>
        <input type="password" id="mdp"
             placeholder="Votre mot de passe"
             [(ngModel)]="mdp"
             maxlength="4"
             email>
      </div>

      <div>
        <label for="verifmdp">Vérifier le mot de passe : </label>
        <input type="password" id="verifmdp"
             placeholder="Votre mot de passe"
             [(ngModel)]="verifmdp"
             maxlength="4">
      </div>
    </div>
    <div class="element">
      <button (click)="updateMirror()">
        Valider les modifications
      </button>
    </div>
  </mat-card>

  <mat-card class="float_left">
    <mat-card-title>
      Vos comptes connectés
    </mat-card-title>

    <div id="authorize-signin" (click)="signIn()" class="google_button" *ngIf="user?.email === 'null'" >
          <span>Se connecter avec Google</span>
          <img class="google_img" src="../../../assets/img/google-logo.png">
    </div>

    <div id="authorize-signout" (click)="signOut()" class="google_buttonDec" *ngIf="user?.email !== null && user?.email !== 'null'">
      <span>Se déconnecté de Google</span>
      <img class="google_img" src="../../../assets/img/google-logo.png">
    </div>
  </mat-card>


</div>

