<mat-horizontal-stepper [linear]="isLinear">
  <mat-step [stepControl]="emailFormControl">
    <form [formGroup]="emailFormControl">
      <ng-template matStepLabel>Entrer votre email</ng-template>
      <mat-form-field>
        <input matInput placeholder="Entrer votre email" [formControl]="emailFormControl"
               [errorStateMatcher]="matcher" required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Entrer une adresse mail valide
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Entrer votre mot de passe</ng-template>
      <mat-form-field>
        <input matInput placeholder="mot de passe" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Precedent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Confirmer le mot de passe</ng-template>
      <mat-form-field>
        <input matInput placeholder="mot de passe" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Precedent</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Validation</ng-template>
     Voulez vous valider ? 
     <button mat-button (click)="EnvoiInscription()" (click)="close(true)">Oui</button>
     <button mat-button (click)="close(true)">Non</button>
  </mat-step>
</mat-horizontal-stepper>