<div *ngIf="router.url !== '/mirror' && router.url !== '/login'">

  <mat-toolbar color="primary">

    <div  class="button-row mg-left-20">
      <a routerLink="/mirror" mat-button [class.active]="select" >
        <img src="../assets/img/Logo.png" style="height: 40px; width: 40px">
        Mirroir
      </a>
      <a routerLink="/personalize" mat-button >Personnaliser</a>
      <a routerLink="/account" mat-button >Mon compte</a>
    </div>
    <div class="spacer"></div>
    <div class="button-row mg-left-20">
      <a routerLink="/apropos" mat-button>A propos</a>
      <a routerLink="/contacter" mat-button>Nous contacter</a>
      <div *ngIf="user">
        <img [src]="user.getImageUrl()" style="max-height: 50px; max-width: 50px; border-radius: 25px;">
        <span>
          {{user.getName()}}
        </span>
        </div>
      <a (click)="logout()" mat-button><mat-icon>exit_to_app</mat-icon> Déconnexion</a>
    </div>

  </mat-toolbar>
</div>
