agm-map {
  height: 400px;
}

hr{
  color: #FFFFFF;
  background-color: #FFFFFF;
}

#map {
  height: 90%;
  width: 100%;
}

.element{
  background-color: black;
  color: white;
  height: 100%;
  width: 100%;
}

.title{
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}
