.hide{
  display: none;
}

.article{
  display: block;
  width: 90%;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  vertical-align: middle;
}

.article_titre{
  padding: 10px;
  font-weight: 500;
}

.article_description{
  padding: 10px;
  font-style: italic;
}

.article_description img{
  max-height: 50%;
  max-width: 50%;
  position: relative;
}

.author{
  font-size: 0.8em;
}

.date_parution{
  float: right;
  font-size: 0.8em;
}
.actualite{
  display: block;
  color: white;
  background-color: black;
}

.actualite_page{
  padding: 0 20%;
}

.actualite_mirror{
  width: 100%;
  float: right;
}

.article_7{
  opacity: 0.7;
}

.article_8{
  opacity: 0.5;
}
.article_9{
  opacity: 0.3;
}

