mat-sidenav-content{
  overflow: hidden;
}

.sidenav{
  box-shadow: 5px 0 11px rgba(0,0,0,.24);
}

.is-mobile .toolbar {
  position: fixed;
  z-index: 100;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}
