<mat-sidenav-container>

    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" disableClose opened="false">

      <mat-nav-list>
        <a routerLink="/"><h5>Mon compte</h5></a>
        <a routerLink="/mirror" mat-list-item [class.active]="select" >
          <img src="../assets/img/Logo.png" style="height: 40px; width: 40px">
          &nbsp;&nbsp;&nbsp;Mirroir
        </a>
        <a routerLink="/personalize" mat-list-item >Personnaliser</a>
        <a routerLink="/calendar" mat-list-item >Calendar</a>
        <a routerLink="/account" mat-list-item >Mon compte</a>
        <mat-divider></mat-divider>

        <a routerLink="/apropos" mat-list-item >A propos</a>
        <a routerLink="/contacter" mat-list-item >Nous contacter</a>
        <mat-divider></mat-divider>

        <a (click)="logout(); show = false" mat-button ><mat-icon>exit_to_app</mat-icon> Déconnexion</a>
      </mat-nav-list>

    </mat-sidenav>

  <mat-sidenav-content>

    <div *ngIf="location === '/personalize' || location === '/account' || location === '/apropos' || location === '/contacter'">
      <app-topbar></app-topbar>
    </div>
    <!--The content below is only a placeholder and can be replaced.-->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
