
<div class="container">
  <label><b>Username</b></label>
  
  <input matInput  type="text" placeholder="Enter Username" name="uname" required>

  <label><b>Password</b></label>
  <input matInput  type="password" placeholder="Enter Password" name="psw" required>

  <button mat-raised-button type="submit" routerLink="/mirror" >Login</button>

</div>

<div class="container" style="background-color:#f1f1f1">
  <button mat-raised-button class="button-row" (click)='modalService.open(modalId)'>Inscription</button>
  <button mat-raised-button type="submit">Connect with Google</button>
  <button mat-raised-button type="submit">Connect with FaceBook</button>
  <div class="psw"> 
    <a routerLink="/forgetpsw">Forget Password ?</a>
  </div>
  
</div>

<app-modal [modalTitle]="'Inscription'" [blocking]='false' [modalId]='modalId'>
  <div></div>
</app-modal>