<div class="container">
  <div class="element">
    <div id="cercle_1" [className]="cercle1_Class"></div>
    <div id="cercle_2" [className]="cercle2_Class"></div>
    <div id="cercle_3" [className]="cercle3_Class"></div>
    <div id="cercle_4" [className]="cercle4_Class"></div>
  </div>
  <br/>

  <table class="element">
    <tr>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">1</button>
      </td>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">2</button>
      </td>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">3</button>
      </td>
    </tr>
    <tr >
      <td (click)="AddCmpt($event)">
        <button  class="nombre" mat-raised-button color="primary">4</button>
      </td>
      <td (click)="AddCmpt($event)">
        <button  class="nombre" mat-raised-button color="primary">5</button>
      </td>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">6</button>
      </td>
    </tr>
    <tr>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">7</button>
      </td>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">8</button>
      </td>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">9</button>
      </td>
    </tr>
    <tr>
      <td (click)="RemoveCmpt()">
        <mat-icon class="icons container">keyboard_backspace</mat-icon>
      </td>
      <td (click)="AddCmpt($event)">
        <button class="nombre" mat-raised-button color="primary">0</button>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
