<div class="container">
  <form action="/action_page.php">
    <label for="fname">Nom</label>
    <input type="text" id="fname" name="firstname" placeholder=""
           [(ngModel)]="firstname">

    <label for="lname">Prénom</label>
    <input type="text" id="lname" name="lastname" placeholder=""
           [(ngModel)]="lastname">

    <label for="mail">Adresse email</label>
    <input type="text" id="mail" name="email" placeholder=""
           [(ngModel)]="email">

    <!--<label for="country">Country</label>
    <select id="country" name="country">
      <option *ngFor="let contry of contries"
              [value]="contry.name">
        {{contry.name}}
      </option>
    </select>-->

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Votre message..." style="height:200px"
              [(ngModel)]="subject"></textarea>

    <input type="submit" value="Submit" (click)="Send">
  </form>
</div>
