<div class="container">
  <form>
    <label for="fname">Nom</label>
    <input type="text" id="fname" name="firstname" class="form-control"
           [(ngModel)]="firstname">

    <label for="lname">Prénom</label>
    <input type="text" id="lname" name="lastname" class="form-control"
           [(ngModel)]="lastname">

    <label for="mail">Adresse email</label>
    <input type="text" id="mail" name="email" class="form-control"
           [(ngModel)]="email">

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Votre message..." style="height:200px" class="form-control"
              [(ngModel)]="subject"></textarea>

    <button mat-raised-button (click)="Send" class="w100">Envoyer</button>
  </form>
</div>
