<div *ngIf="router.url !== '/mirror' && router.url !== '/login'" class="shadow">
  <mat-toolbar color="primary">

    <div  class="button-row mg-left-20">
      <a routerLink="/mirror" mat-button [class.active]="select" >
        <img src="../assets/img/Logo.png" style="height: 40px; width: 40px">
        Mirroir
      </a>
      <a routerLink="/personalize" mat-button >Personnaliser</a>
      <a routerLink="/account" mat-button >Mon compte</a>
    </div>
    <div class="spacer"></div>
    <div *ngIf="user" class="user">
      <img [src]="user.getImageUrl()" style="max-height: 50px; max-width: 50px; border-radius: 25px;">
      <div>
          {{user.getName()}}
      </div>
    </div>
    <div class="button-row mg-left-20">

      <div class="more" (click)="show = !show">
        <mat-icon>add</mat-icon>
      </div>
    </div>
      <div class="deploy" *ngIf="show">
        <li><a routerLink="/apropos" (click)="show = false" mat-button>A propos</a></li>
        <li><a routerLink="/contacter" (click)="show = false" mat-button>Nous contacter</a></li>
        <li><a (click)="logout(); show = false" mat-button><mat-icon>exit_to_app</mat-icon> Déconnexion</a></li>
      </div>


  </mat-toolbar>
</div>
