<div class="shadow">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <div class="button-row">
        <button type="button" mat-button (click)="openSideNav()">
          <mat-toolbar color="primary">
            <div *ngIf="!sidenavService.isOpen; else sidenavOpen" class="menu">
              <mat-icon>view_headline</mat-icon>
              <span>Menu</span>
            </div>
            <ng-template #sidenavOpen class="menu">
              <mat-icon>keyboard_backspace</mat-icon>
              <span>Apollon</span>
            </ng-template>
          </mat-toolbar>


        </button>
      </div>
      <div class="spacer"></div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>




