<div class="shadow">
  <mat-toolbar color="primary">

    <div  class="button-row mg-left-10">
      <button type="button" mat-button (click)="openSideNav()">
        <mat-icon *ngIf="!sidenavService.isOpen">view_headline</mat-icon>
        <mat-icon *ngIf="sidenavService.isOpen">keyboard_backspace</mat-icon>
        Menu
      </button>
    </div>
    <div class="spacer"></div>
    <div *ngIf="user?.email !== null && user?.email !== 'null'" class="user">
      <img [src]="user.imageUrl" style="max-height: 50px; max-width: 50px; border-radius: 25px;">
      <div>
        {{ user.fullname}}
      </div>
    </div>
  </mat-toolbar>
</div>




