div{
  background-color: black;
  color: white;
}
hr{
  color: #FFFFFF;
  background-color: #FFFFFF;
}
.title{
  padding: 10px;
  font-size: 30px;
  text-align: center;
  font-family: system-ui, serif;
  font-weight: bold;
}

.day_meteo_0{
	width: 100%;
	float: left;
}
.day_meteo_img_0{
	min-width: 30%;
	float: left;
}

.day_meteo_glob_0{
  width: 70%;
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
  font-family: system-ui, serif;
  font-weight: bold;
}
.day_meteo_glob_0 .current_tmp {
  font-size: 60px;
}

.day_meteo_1,.day_meteo_2,.day_meteo_3,.day_meteo_4,.day_meteo_5{
	width: 100%;
	float: left;
}
.day_meteo_img_1,.day_meteo_img_2,.day_meteo_img_3,.day_meteo_img_4,.day_meteo_img_5{
	width: 50px;
	float: left;
}
.day_meteo_txt_1,.day_meteo_txt_2,.day_meteo_txt_3,.day_meteo_txt_4,.day_meteo_txt_5{
	width: 175px;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
  font-family: system-ui, serif;
  font-weight: bold;
}
.day_meteo_heure_1,.day_meteo_heure_2,.day_meteo_heure_3,.day_meteo_heure_4,.day_meteo_heure_5{
	display:none;
}

.day_meteo_glob_3{
  opacity: 0.7;
}

.day_meteo_glob_4{
  opacity: 0.4;
}
