<div *ngIf="user?.email !== 'null';then log else notLog"></div>
<ng-template #log>
  <div class="bg_black h100 c_write event_page">
    <div *ngFor="let event of events" class="event">
      <div class="article_meta">
        <span class="author">{{ event.creator.displayName }}</span>
        <span class="date_parution">Fin le {{ event.end.date || event.end.dateTime | date:'yyyy/MM/dd à hh:mm' }} |</span>
        <span class="date_parution">Début le {{ event.start.date || event.start.dateTime | date:'yyyy/MM/dd à hh:mm' }}</span>
      </div>
      <div class="event_description">
        {{ event.summary }}
      </div>
    </div>
  </div>
</ng-template>
<ng-template #notLog>
  <div class="bg_black h100 w100 c_write">Veuillez vous connecté avec Google pour avoir accée à cette affichage</div>
</ng-template>
