<div *ngIf="router.url !== '/mirror' && router.url !== '/login'">

	<mat-toolbar color="primary">

		<div  class="button-row mg-left-20">
			<a routerLink="/personalize" mat-button ><mat-icon>home</mat-icon> Mirror</a>
			<a routerLink="/account" mat-button >Account</a>
			<a routerLink="/personalize" mat-button >Personalization</a>
		</div>
		<div  class="spacer"></div>
		<div  class="button-row mg-left-20">
			<a routerLink="/apropos" mat-button>A propos</a>
			<a routerLink="/contacter" mat-button>Nous contacter</a>
			<a (click)="logout()" mat-button><mat-icon>exit_to_app</mat-icon> Logout</a>
		</div>

	</mat-toolbar>
</div>


<!--The content below is only a placeholder and can be replaced.-->
<router-outlet></router-outlet>

