<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <ul *ngFor="let module of modules.result_object">
      <li>
        <div>{{module.name}}</div>
        <img [src]='module.image' height="50px" width="50px"/>
      </li>
    </ul>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
        <div>
            <ul>
                <div *ngFor="let item of items">{{item}}</div>
            </ul>
        </div>    	<!-- mirror-->
    	<table>
    	   <tr>
    	       <td colspan="2">
    	       		<div id="MirrorUpLeft">
                		<div class="donotdrag" *ngIf="!ItemMirrorUpLeft.length">Vide</div>
                        <div class="donotdrag" *ngFor="let item of ItemMirrorUpLeft ; let i = index" >
                            {{item}}
                        </div>
            		</div>
            	</td>
    	       <td colspan="2">
    	       		<div id="MirrorUpRight" class="container">
                		<div class="donotdrag" *ngIf="!ItemMirrorUpRight.length">Vide</div>

            		</div>
            	</td>
    	   </tr>
    	   <tr>
    	       <td>
    	       		<div id="MirrorLeft" class="container">
                		<div *ngIf="!ItemMirrorLeft.length">Vide</div>
            		</div>
            	</td>
            	<td colspan="2"></td>
    	       <td>
    	       		<div id="MirrorRight" class="container">
                		<div *ngIf="!ItemMirrorRight.length">Vide</div>
            		</div>
            	</td>
    	   </tr>
    	   <tr>
    	       <td>
    	       		<div id="MirrorDownLeft" class="container">
                		<div *ngIf="!ItemMirrorDownLeft.length">Vide</div>
            		</div>
            	</td>
    	       <td>
    	       		<div id="MirrorDown1" class="container">
                		<div *ngIf="!ItemMirrorDown1.length">Vide</div>
            		</div>
            	</td>
    	       <td>
    	       		<div id="MirrorDown2" class="container">
                		<div *ngIf="!ItemMirrorDown2.length">Vide</div>
            		</div>
            	</td>
    	       <td>
    	       		<div id="MirrorDownRight" class="container">
                		<div *ngIf="!ItemMirrorDownRight.length">Vide</div>
            		</div>
            	</td>
    	   </tr>
    	</table>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
