
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées */
    color: white;
    background: black;
    opacity: 0.8;
}
td{
  border: 1px solid white;
  height: 150px;
  width: 150px;
}

td > div{
  position: relative;  
  height: 100%;
  width: 100%;
  display: flex;
}

td > div > div {
  margin: auto;
  text-align: center;
}


.example-container {
  position: absolute;
}

.icons_close{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.item_name{
  display: block;
  margin: 0 auto;
  clear: both;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

.module{
  border: 1px solid rgba(0,0,0,.125);
  background-color: #ddf0ef;
  padding: 10px;
  margin: 0px 0px 0px 5px;
}
.module:first-child {
  margin-top: 10px;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}
.module:last-child {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}


mat-sidenav {
  	width: 15%;
}

mat-sidenav-container {
	height: 100vh;
}
