test drag and drop

<div class="parent">
    <label for="hy">There are plenty of events along the lifetime of a drag event.</label>
    <div class="wrapper">
        <ul class="container" [dragula]="'fifth-bag'">
            <div *ngFor="let item of items">{{item}}</div> 
        </ul>	
    </div>
    <hr/>
	<!-- mirror-->
	<table>
	   <tr>
	       <td colspan="2">
	       		<div id="MirrorUpLeft" [dragula]="'fifth-bag'">
            		<div class="donotdrag" *ngIf="!ItemMirrorUpLeft.length">Vide</div>
                    <div class="donotdrag" *ngFor="let item of ItemMirrorUpLeft ; let i = index" >
                        {{item}}
                    </div>
        		</div>
        	</td>
	       <td colspan="2">
	       		<div id="MirrorUpRight" class="container" [dragula]="'fifth-bag'">
            		<div class="donotdrag" *ngIf="!ItemMirrorUpRight.length">Vide</div>                    
                    
        		</div>
        	</td>
	   </tr>
	   <tr>
	       <td>
	       		<div id="MirrorLeft" class="container" [dragula]="'fifth-bag'">
            		<div *ngIf="!ItemMirrorLeft.length">Vide</div>
        		</div>
        	</td>	       
        	<td colspan="2"></td>
	       <td>
	       		<div id="MirrorRight" class="container" [dragula]="'fifth-bag'">
            		<div *ngIf="!ItemMirrorRight.length">Vide</div>
        		</div>
        	</td>	
	   </tr>
	   <tr>
	       <td>
	       		<div id="MirrorDownLeft" class="container" [dragula]="'fifth-bag'">
            		<div *ngIf="!ItemMirrorDownLeft.length">Vide</div>
        		</div>
        	</td>	
	       <td>
	       		<div id="MirrorDown1" class="container" [dragula]="'fifth-bag'">
            		<div *ngIf="!ItemMirrorDown1.length">Vide</div>
        		</div>
        	</td>	
	       <td>
	       		<div id="MirrorDown2" class="container" [dragula]="'fifth-bag'">
            		<div *ngIf="!ItemMirrorDown2.length">Vide</div>
        		</div>
        	</td>	
	       <td>
	       		<div id="MirrorDownRight" class="container" [dragula]="'fifth-bag'">
            		<div *ngIf="!ItemMirrorDownRight.length">Vide</div>
        		</div>
        	</td>	
	   </tr>
	</table>


</div>