.alert {
  background-color: white;
  max-height: calc(100% - 10em);
  overflow-y: auto;
  position: absolute;
  width: 20%;
  max-width: 300px;
  z-index: 1100;
  bottom: 20px;
  left: 20px;
  transition: all .5s ease;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.icons_close {
  float: right;
  cursor: pointer;
}
