table.table_edit_mirror
{
  float: left;
  max-width: 650px;
  border-collapse: collapse;
  color: white;
  background: rgba(0, 0, 0, 0.69);
  opacity: 0.8;
}

td{
  border: 1px solid white;
  height: 150px;
  width: 150px;
}

td > div{
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

td > div > div {
  margin: auto;
  text-align: center;
}

.icons_edit{
  position: absolute;
  top: calc(50% - 10px);
  right: 5px;
  cursor: pointer;
  max-height: 20px;
  height: auto;
  width: auto;
}

.icons_close{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.item_name{
  display: block;
  margin: 0 auto;
  clear: both;
}

.item_icon{
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}

.drag-hint {
  border: #ffc100 dashed 2px;
}

mat-sidenav {
  width: 20%;
  padding: 0 10px;
  border-right: 1px solid rgba(0,0,0,0.5);
  overflow-y: scroll;
  right: 0;
  box-shadow: 0 5px 11px rgba(0, 0, 0, .3);
}

mat-sidenav-content {
  overflow-y: auto;
  margin-left: 0 !important;
  margin-right: 20% !important;
  padding: 20px;
}

.module{
  position: relative;
  border: 1px solid rgba(0,0,0,.2);
  padding: 10px;
  cursor: grab;
}

.mat-list-item:nth-child(2) {
  margin-top: 10px;
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
}

.mat-list-item:last-child {
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
  margin-bottom: 10px;
}

h3{
  font-weight: 500;
  margin: 0;
}

.card_fonctionnement{
  max-width: 300px;
}

@media screen and (max-width: 560px){
  .mat-list h4 {
    display: none;
  }

  mat-sidenav {
    padding: 2px;
  }

  mat-sidenav h3{
    font-size: .8em;
    padding: 0;
  }

  mat-sidenav-content {
    margin: 0;
  }

  .module{
    padding: 0;
  }

  mat-sidenav-content {
    margin-left: 0 !important;
    margin-right: 20% !important;
    padding: 10px;
  }


}
