<div style="z-index: -1">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened="true">
      <mat-list>
        <h3 mat-subheader>Modules disponibles</h3>
        <mat-list-item draggable [dragData]="module"
                       class="module"
                       *ngFor="let module of modules.result_object">
          <img matListAvatar [src]='"../../assets/img/"+module.image'
               class="item_icon" />
          <h4 mat-line>{{ module.name }}</h4>
          <mat-icon *ngIf="module.canConfigure === '1'"
                    class="icons_edit"
                    (click)="openDialog(module)">
            mode_edit</mat-icon>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container">

        <h3>Votre mirroir</h3>

        <div class="float_left">

          <!--mirror-->
          <table class="table_edit_mirror" style="margin-top: 10px">
             <tr>
                 <td colspan="2">
                    <div id="top_left" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                        <div *ngFor="let item of ItemMirror_TopLeft">
                          <div *ngIf="item.image">
                            <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                            <img [src]='"../../../assets/img/"+item.image' class="item_icon" />
                          </div>
                          <span class="item_name">{{item.name}}</span>
                        </div>
                    </div>
                  </td>
                 <td colspan="2">
                    <div id="top_right" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                      <div *ngFor="let item of ItemMirror_TopRight">
                        <div *ngIf="item.image">
                          <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                          <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                        </div>
                        <span class="item_name">{{item.name}}</span>
                      </div>
                    </div>
                  </td>
             </tr>
             <tr>
               <td>
                  <div id="left" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                    <div *ngFor="let item of ItemMirror_Left">
                      <div *ngIf="item.image">
                        <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                        <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                      </div>
                      <span class="item_name">{{item.name}}</span>
                    </div>
                  </div>
               </td>
               <td colspan="2">
                  <div id="center">
                  </div>
               </td>
               <td>
                  <div id="right" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                    <div *ngFor="let item of ItemMirror_Right">
                      <div *ngIf="item.image">
                        <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                        <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                      </div>
                      <span class="item_name">{{item.name}}</span>
                    </div>
                  </div>
                </td>
             </tr>
             <tr>
                 <td>
                    <div id="bottom_left" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                      <div *ngFor="let item of ItemMirror_BottomLeft">
                        <div *ngIf="item.image">
                          <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                          <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                        </div>
                        <span class="item_name">{{item.name}}</span>
                      </div>
                    </div>
                  </td>
                 <td>
                    <div id="bottom_center_left" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                      <div *ngFor="let item of ItemMirror_BottomCenterLeft">
                        <div *ngIf="item.image">
                          <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                          <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                        </div>
                        <span class="item_name">{{item.name}}</span>
                      </div>
                    </div>
                  </td>
                 <td>
                    <div id="bottom_center_right" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                      <div *ngFor="let item of ItemMirror_BottomCenterRight">
                        <div *ngIf="item.image">
                          <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                          <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                        </div>
                        <span class="item_name">{{item.name}}</span>
                      </div>
                    </div>
                  </td>
                 <td>
                    <div id="bottom_right" droppable [dragHintClass]="'drag-hint'" (onDrop)="onElementDrop($event)">
                      <div *ngFor="let item of ItemMirror_BottomRight">
                        <div *ngIf="item.image">
                          <mat-icon class="icons_close" (click)="remoteElement($event)">close</mat-icon>
                          <img [src]='"../../assets/img/"+item.image' class="item_icon" />
                        </div>
                        <span class="item_name">{{item.name}}</span>
                      </div>
                    </div>
                  </td>
             </tr>
          </table>

          <div class="clear"></div>

        </div>
        <div class="float_left">
          <mat-card class="card card_fonctionnement">

            <mat-card-title>Fonctionnement</mat-card-title>
            <mat-card-content>
              <p>
                Pour personnaliser votre mirroir, glissez-déposez les modules de la liste de gauche, sur l'emplacement voulu dans le mirroir.
              </p>
              <p>
                Pour paramétrer les modules, cliquez sur l'icone <mat-icon>mode_edit</mat-icon> du module voulu.
              </p>
            </mat-card-content>

          </mat-card>

        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>



