body, table{
  background-color: #000 !important;
}

.mirror{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

img{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.left{
  float: left;
}

.right{
  float: right;
}

.element{
  display: block;
  width: 24vw;
  height: 32vh;
  margin: 0.5vh 0.5vw;
  overflow: hidden;

  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 1px dotted red;
}

.double{
  width: 49vw;
}

.elementTop{
  vertical-align: top;
  width: 49vw;
}

.elementBottom{
  vertical-align: bottom;
}

.fade {
  opacity: 0;
  animation: fadein 5s;
  -webkit-animation: fadein 5s;
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}
