<div  class="actualite" [ngClass]="[router.url === '/mirror' ? 'actualite_mirror' : 'actualite_page' ]" >
	<div *ngFor="let article of articles; let i = index">
		<li *ngIf="i < 4" class="article article_{{i}}">
			<div class="article_meta">
				<span *ngIf="article.author" class="author">{{ article.author }}</span>
				<span class="date_parution">le {{article.publishedAt | date:'dd/MM à HH:mm'}}</span>
			</div>
			<div class="article_titre">{{ article.title }}</div>
			<!--<button (click)="ShowArticle(i)"></button>-->
			<div class="article_description" [hidden]="!article.isShow" (click)="DeleteArticle(i)">
				<img src="{{ article.urlToImage }}" alt="{{ article.title }}" />
				{{ article.description }}
			</div>
		</li>
	</div>
</div>
