/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.hide{
	display: none;
}

.button-row {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.mg-left-20{
	margin-left : 20px;
}

.container {
    padding: 20px;
}
